<div class="container-fluid p-2">
    <div class="card">
        <form [formGroup]="queryForm">
            <div class="card-header">{{title}} - 請輸入查詢條件</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                      <mat-form-field appearance="legacy">
                        <mat-label>使用者</mat-label>
                        <mat-select formControlName="userId">
                            <mat-option *ngFor="let opt of userOptions" [value]="opt.key">
                              {{opt.value}}
                            </mat-option>
                          </mat-select>                           
                      </mat-form-field> 
                    </div>
                    <div class="col">                         
                        <mat-form-field appearance="legacy">
                          <mat-label>角色</mat-label>
                          <mat-select formControlName="roleId">
                            <mat-option *ngFor="let opt of roleOptions" [value]="opt.key">
                              {{opt.value}}
                            </mat-option>
                          </mat-select>              
                        </mat-form-field>
                    </div>                   
                </div>               
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">                
                        <a routerLink="add" class="btn btn-success btn-sm">新增</a>                
                        <button type="button" class="btn btn-success btn-sm ml-2" (click)="initialQuery()">查詢</button>                         
                    </div>
                  </div>
            </div>
        </form>
    </div>
    <app-table 
      [dataSource]="dataSource" 
      [initColumns]="displayedColumns" 
      (pageChange)="onPaginateChange($event)" 
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (sort)="onSortData($event)" ></app-table>
</div>
