<div class="container-fluid p-2"> 
    <div class="card">
        <form [formGroup]="queryForm">
            <div class="card-header">{{title}} - 請輸入查詢條件</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                      <mat-form-field appearance="legacy">
                        <mat-label>客戶名稱</mat-label>
                        <input matInput placeholder="客戶名稱" formControlName="customerName">                          
                      </mat-form-field> 
                    </div>
                    <div class="col-4">                         
                        <mat-form-field appearance="legacy">
                          <mat-label>電話</mat-label>
                          <input matInput placeholder="電話" formControlName="tel">                 
                        </mat-form-field>
                    </div>
                    <div class="col-4">                         
                        <mat-form-field appearance="legacy">
                          <mat-label>手機</mat-label>
                          <input matInput placeholder="手機" formControlName="mobile">                 
                        </mat-form-field>
                    </div>
                    <div class="col-4">                         
                      <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">              
                      </mat-form-field>
                    </div>
                    <div class="col-4">                         
                        <mat-form-field appearance="legacy">
                          <mat-label>郵遞區號</mat-label>
                          <input matInput placeholder="郵遞區號" formControlName="zipCode">         
                        </mat-form-field>
                    </div>
                    <div class="col-4">                         
                      <mat-form-field appearance="legacy">
                        <mat-label>公司</mat-label>
                        <mat-select formControlName="companyId">
                          <mat-option *ngFor="let opt of companyOptions" [value]="opt.key">
                            {{opt.value}}
                          </mat-option>
                        </mat-select>              
                      </mat-form-field>
                  </div> 
                </div>               
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">                
                        <a routerLink="add" class="btn btn-success btn-sm">新增</a>                
                        <button type="button" class="btn btn-success btn-sm ml-2" (click)="initialQuery()">查詢</button>                         
                    </div>
                  </div>
            </div>
        </form>
    </div>
    
    <app-table 
      [dataSource]="dataSource" 
      [initColumns]="displayedColumns" 
      (pageChange)="onPaginateChange($event)" 
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (sort)="onSortData($event)" ></app-table>
    
</div>
