<div class="card">
    <div class="card-header">
        {{title}}
    </div>    
    <div class="card-body">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row" style="align-items: center;">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>密碼</mat-label>
                        <input matInput placeholder="密碼" formControlName="password" id="password" type="password">                
                        <mat-error *ngIf="!isValid">
                            {{errMsg}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn-sm" [disabled]="form.invalid">更新</button>
                </div>
            </div>
        </form>        
    </div>
</div>
